html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #102eff, #d2379b);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
